<%= form_with(model: patient) do |form| %>
  <%= show_form_errors patient %>

  <div class="row">
    <div class="row">
      <div class="input-field col s12">
        <%= form.label :name, "Nome *", class: "active" %>
        <%= form.text_field :name, maxlength: 100, required: true %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= form.label :birth_date, "Data Nascimento *", class: "active" %>
        <%= form.date_field :birth_date, required: true %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= form.label :cpf, "CPF * <small>(somente números)</small>".html_safe, class: "active" %>
        <%= form.text_field :cpf, maxlength: 11, required: true %>
      </div>
    </div>

    <div class="row">
      <%= link_to_back patients_path %>
      <%= button_to_submit %>
    </div>
  </div>
<% end %>

<script>
  <%= render 'materialize' %>
</script>