<%= breadcrumbs({"Pacientes": nil}) %>

<h4>Pacientes</h4>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Data Nasc</th>
      <th>CPF</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.name.titleize %></td>
        <td><%= date_br patient.birth_date %></td>
        <td><%= cpf_formatted patient.cpf %></td>
        <td>
          <%= link_to '<i class="material-icons">preview</i>'.html_safe, patient, class: "waves-effect waves-light btn-flat btn-small", title: "Mostrar" %>
          <%= link_to '<i class="material-icons">edit</i>'.html_safe, edit_patient_path(patient), class: "waves-effect waves-yellow btn-flat btn-small", title: "Editar" %>
          <%= link_to '<i class="material-icons">delete</i>'.html_safe, patient, class: "waves-effect waves-red btn-flat btn-small", title: "Excluir", method: :delete, data: { confirm: 'Você tem certeza?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to_new new_patient_path %>