<%= breadcrumbs({"Pacientes": nil}) %>

<h1>Pacientes</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Data Nasc</th>
      <th>CPF</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.name.titleize %></td>
        <td><%= date_br patient.birth_date %></td>
        <td><%= cpf_formatted patient.cpf %></td>
        <td><%= link_to 'Mostrar', patient %></td>
        <td><%= link_to 'Editar', edit_patient_path(patient) %></td>
        <td><%= link_to 'Excluir', patient, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Paciente', new_patient_path %>
