<%= breadcrumbs({"Pacientes": patients_path, "Mostrar": nil}) %>

<h4>Paciente #<%= @patient.id %></h4>

<br>

<div class="row">
  <strong>Nome:</strong>
  <%= @patient.name.titleize %>
</div>

<div class="row">
  <strong>Data Nascimento:</strong>
  <%= date_br @patient.birth_date %>
</div>

<div class="row">
  <strong>CPF:</strong>
  <%= cpf_formatted @patient.cpf %>
</div>

<br>

<div class="row">
  <%= link_to_back patients_path %>
  <%= link_to_edit edit_patient_path(@patient) %>
</div>