<p>
  <strong>Nome:</strong>
  <%= @patient.name.titleize %>
</p>

<p>
  <strong>Data Nascimento:</strong>
  <%= date_br @patient.birth_date %>
</p>

<p>
  <strong>CPF:</strong>
  <%= cpf_formated @patient.cpf %>
</p>

<%= link_to 'Editar', edit_patient_path(@patient) %> |
<%= link_to 'Voltar', patients_path %>
