<%= form_with(model: doctor) do |form| %>
  <% if doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(doctor.errors.count, "error") %> ao tentar salvar:</h2>

      <ul>
        <% doctor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "Nome *" %>
    <%= form.text_field :name, maxlength: 100, required: true %>
  </div>

  <div class="field">
    <%= form.label :crm, "CRM *" %>
    <%= form.text_field :crm, maxlength: 20, required: true %>
  </div>

  <div class="field">
    <%= form.label :crm_uf, "UF do CRM *" %>
    <%= form.select :crm_uf, select_uf, {include_blank: "Selecione..."}, required: true %>
  </div>

  <br>

  <div class="actions">
    <%= form.submit "Salvar" %>
  </div>
<% end %>
