<%= form_with(model: doctor) do |form| %>
  <%= show_form_errors doctor %>

  <div class="row">
    <div class="row">
      <div class="input-field col s12">
        <%= form.label :name, "Nome *", class: "active" %>
        <%= form.text_field :name, maxlength: 100, required: true %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= form.label :crm, "CRM *", class: "active" %>
        <%= form.text_field :crm, maxlength: 20, required: true %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= form.label :crm_uf, "UF do CRM *", class: "active" %>
        <%= form.select :crm_uf, select_uf, {include_blank: "Selecione..."}, required: true %>
      </div>
    </div>

    <div class="row">
      <%= link_to_back doctors_path %>
      <%= button_to_submit %>
    </div>
  </div>
<% end %>

<script>
  <%= render 'materialize' %>
</script>