<%= breadcrumbs({"Médicos": nil}) %>

<h4>Médicos</h4>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>CRM</th>
      <th>UF</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @doctors.each do |doctor| %>
      <tr>
        <td><%= doctor.name.titleize %></td>
        <td><%= doctor.crm %></td>
        <td><%= doctor.crm_uf %></td>
        <td>
          <%= link_to '<i class="material-icons">preview</i>'.html_safe, doctor, class: "waves-effect waves-light btn-flat btn-small", title: "Mostrar" %>
          <%= link_to '<i class="material-icons">edit</i>'.html_safe, edit_doctor_path(doctor), class: "waves-effect waves-yellow btn-flat btn-small", title: "Editar" %>
          <%= link_to '<i class="material-icons">delete</i>'.html_safe, doctor, class: "waves-effect waves-red btn-flat btn-small", title: "Excluir", method: :delete, data: { confirm: 'Você tem certeza?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to_new new_doctor_path %>
