<h1>Médico #<%= @doctor.id %></h1>

<p>
  <strong>Nome:</strong>
  <%= @doctor.name.titleize %>
</p>

<p>
  <strong>CRM:</strong>
  <%= @doctor.crm_complete %>
</p>

<%= link_to 'Editar', edit_doctor_path(@doctor) %> |
<%= link_to 'Voltar', doctors_path %>
