<%= breadcrumbs({"Médicos": doctors_path, "Mostrar": nil}) %>

<h4>Médico #<%= @doctor.id %></h4>

<br>

<div class="row">
  <strong>Nome:</strong>
  <%= @doctor.name.titleize %>
</div>

<div class="row">
  <strong>CRM:</strong>
  <%= @doctor.crm_complete %>
</div>

<br>

<div class="row">
  <%= link_to_back doctors_path %>
  <%= link_to_edit edit_doctor_path(@doctor) %>
</div>