<h1>Builtcode Test</h1>

<ul>
  <li><%= link_to "Médicos", doctors_path %></li>
  <li><%= link_to "Pacientes", patients_path %></li>
  <li><%= link_to "Consultas", appointments_path %></li>
</ul>

<h2>Dashboard</h2>
<%= label_tag :select_doctor, "Médico" %>
<%= select_tag :select_doctor, options_for_select(select_doctor), {include_blank: "Todos os médicos", class: "form-control"} %>
<p><strong>Consultas realizadas: </strong><span id="appointments_realized"></span></p>
<p><strong>Pacientes atendidos: </strong><span id="patients_attended"></span></p>

<script>
  let select_doctor = document.getElementById('select_doctor')
  select_doctor.addEventListener('change', (e) => {
    let params = `?doctor_id=${e.target.value}`
    getJSON(`/get_appointments_realized_by_doctor${params}`,
    function(err, data) {
      if (err !== null) {
        alert('Algo deu errado: ' + err)
      } else {
        document.getElementById('appointments_realized').innerHTML = data.length
      }
    })
    getJSON(`/get_patients_attended_count_by_doctor${params}`,
    function(err, data) {
      if (err !== null) {
        alert('Algo deu errado: ' + err)
      } else {
        document.getElementById('patients_attended').innerHTML = data
      }
    })
  })

  document.addEventListener("DOMContentLoaded", function(){
    let e = new Event('change')
    select_doctor.dispatchEvent(e)
  })
</script>