<%= breadcrumbs({"Consultas": nil}) %>

<h1>Consultas</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Horário</th>
      <th>Médico</th>
      <th>Paciente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= date_br appointment.starts_at %></td>
        <td><%= starts_and_end_time appointment %></td>
        <td><%= appointment.doctor.name.titleize %></td>
        <td><%= appointment.patient.name.titleize %></td>
        <td><%= link_to 'Mostrar', appointment %></td>
        <td><%= link_to 'Editar', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Excluir', appointment, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Consulta', new_appointment_path %>
