<%= breadcrumbs({"Consultas": appointments_path, "Mostrar": nil}) %>

<h4>Consulta #<%= @appointment.id %></h4>

<br>

<div class="row">
  <strong>Data:</strong>
  <%= date_br @appointment.starts_at %>
</div>

<div class="row">
  <strong>Horário:</strong>
  <%= starts_and_end_time @appointment %>
</div>

<div class="row">
  <strong>Médico:</strong>
  <%= link_to @appointment.doctor.name.titleize, @appointment.doctor %>
</div>

<div class="row">
  <strong>Paciente:</strong>
  <%= link_to @appointment.patient.name.titleize, @appointment.patient %>
</div>

<br>

<div class="row">
  <%= link_to_back appointments_path %>
  <%= link_to_edit edit_appointment_path(@appointment) %>
</div>