<h1>Consulta #<%= @appointment.id %></h1>

<p>
  <strong>Data:</strong>
  <%= date_br @appointment.starts_at %>
</p>

<p>
  <strong>Horário:</strong>
  <%= starts_and_end_time @appointment %>
</p>

<p>
  <strong>Médico:</strong>
  <%= link_to @appointment.doctor.name.titleize, @appointment.doctor %>
</p>

<p>
  <strong>Paciente:</strong>
  <%= link_to @appointment.patient.name.titleize, @appointment.patient %>
</p>

<%= link_to 'Editar', edit_appointment_path(@appointment) %> |
<%= link_to 'Voltar', appointments_path %>
